# Konfigurasi Port Aplikasi
PORT=3000

# Token Bot Telegram dari @BotFather
TELEGRAM_BOT_TOKEN=8256797487:AAHiHjnEmHW8l6l-BfZF9N2KPXDIEBhekLI

# ID Akun Telegram atau Username Channel (@channel_anda)
TELEGRAM_DEFAULT_CHAT_ID=1158813055
