# Dependencies
node_modules/

# Environment variables (Sangat penting agar Bot Token Anda tidak bocor ke publik)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Files
.DS_Store
Thumbs.db

# Diagnostic & Scratch Files
scratch/
*.png
*.jpg
